.layout {
  @apply grid grid-cols-4;

  &-header {
    @apply w-full bg-red-700;
  }

  &-sidebar {
    @apply w-full bg-green-700;
  }
  
  &-content {
    @apply w-full bg-blue-700;
  }

  &-footer {
    @apply w-full bg-yellow-700;
  }
}
