.layout {
  @apply grid w-full grid-rows-[auto_auto_auto] grid-cols-[150px_2fr];

  &-header {
    @apply h-[80px] bg-red-700 col-start-1 col-end-4;
  }

  &-sidebar {
    @apply bg-green-700;
  }
  
  &-content {
    @apply bg-blue-700;
  }

  &-footer {
    @apply min-h-[250px] bg-yellow-700 col-start-1 col-end-4;
  }
}
